<header class="sticky top-0 bg-white shadow-sm z-50">
  <div class="flex justify-between items-center h-16 px-6 max-w-7xl mx-auto">
    <h1 
    (click)="goToHome()" 
    class="text-2xl font-bold text-blue-700 hover:text-blue-700 transition-colors cursor-pointer"
  >
    KanDo
  </h1>
    
    <div class="flex gap-4 items-center">
      <ng-container *ngIf="isAuthenticated">
        <span class="text-gray-700">{{ currentUserName }}</span>
        <button 
          (click)="goToBoards()" 
          class="px-4 py-2 rounded-lg font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          My Boards
        </button>
        <button 
          (click)="goToProfile()" 
          class="px-4 py-2 rounded-lg font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          Profile
        </button>
        <button 
          (click)="goToSettings()" 
          class="px-4 py-2 rounded-lg font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          Settings
        </button>
        
        <app-notifications></app-notifications>
        
        <button
          (click)="logout()" 
          class="px-4 py-2 rounded-lg font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          Logout
        </button>
      </ng-container>
      
      <ng-container *ngIf="!isAuthenticated">
        <button 
          (click)="login()" 
          class="px-4 py-2 rounded-lg font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-100 transition-all hover:-translate-y-0.5"
        >
          Login
        </button>
      </ng-container>
    </div>
  </div>
</header>