<!-- Container with horizontal scroll -->
<div class="overflow-x-auto">
  <!-- Kanban Board Layout -->
  <div class="min-w-[768px] p-4"> <!-- Minimum width to prevent squishing -->
    <!-- Columns Grid -->
    <div class="grid grid-cols-3 gap-4 md:gap-6">
      
      <!-- To Do Column -->
      <div class="bg-white rounded-lg shadow p-4 min-w-[280px] h-fit"
      [@columnExpand]="columnStates.todo">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-lg font-semibold text-gray-700">To Do</h2>
          <div class="flex items-center space-x-2">
            <button
              class="p-2 rounded-full hover:bg-gray-100 transition-all duration-200"
              (click)="openAddModal()"
              title="Add new task">
              <span class="material-icons text-green-500">add</span>
            </button>
            <button
              class="p-2 rounded-full hover:bg-gray-100 transition-all duration-200"
              (click)="toggleColumn('todo')"
              title="Toggle column">
              <span class="material-icons"
                    [class.rotate-180]="columnStates.todo === 'collapsed'">
                expand_less
              </span>
            </button>
          </div>
        </div>
        <div class="transition-all duration-300 overflow-hidden"
        *ngIf="columnStates.todo === 'expanded'">
     <div class="task-list space-y-3"
          #todoTaskList
          cdkDropList
          id="todoList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="['inProgressList', 'doneList']"
          (cdkDropListDropped)="drop($event)">
       <app-task-card
         *ngFor="let task of todo"
         [task]="task"
         (delete)="deleteTask($event)"
         (edit)="editTask($event)"
         cdkDrag>
       </app-task-card>
     </div>
   </div>
 </div>
      
      <!-- In Progress Column -->
      <div class="bg-white rounded-lg shadow p-4 min-w-[280px] h-fit overflow-hidden"
      [@columnExpand]="columnStates.inProgress">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold mb-4 text-gray-700">In Progress</h2>
        <div class="flex items-center space-x-2">
          <button
            class="p-2 rounded-full hover:bg-gray-100 transition-all duration-200"
            (click)="toggleColumn('inProgress')"
            title="Toggle column">
            <span class="material-icons"
                  [class.rotate-180]="columnStates.inProgress === 'collapsed'">
              expand_less
            </span>
          </button>
        </div>
      </div>
        <div class="transition-all duration-300 overflow-y-hidden"
        *ngIf="columnStates.inProgress === 'expanded'">
     <div class="task-list space-y-3 overflow-y-visible"
          #inProgressTaskList
          cdkDropList
          id="inProgressList"
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="['todoList', 'doneList']"
          (cdkDropListDropped)="drop($event)">
       <app-task-card
         *ngFor="let task of inProgress"
         [task]="task"
         (delete)="deleteTask($event)"
         (edit)="editTask($event)"
         cdkDrag>
       </app-task-card>
     </div>
   </div>
 </div>
      
      <!-- Done Column -->
      <div class="bg-white rounded-lg shadow p-4 min-w-[280px] h-fit"
      [@columnExpand]="columnStates.done">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold mb-4 text-gray-700">Done</h2>
        <div class="flex items-center space-x-2">
          <button
            class="p-2 rounded-full hover:bg-gray-100 transition-all duration-200"
            (click)="toggleColumn('done')"
            title="Toggle column">
            <span class="material-icons"
                  [class.rotate-180]="columnStates.done === 'collapsed'">
              expand_less
            </span>
          </button>
        </div>
      </div>
        <div class="transition-all duration-300 overflow-hidden"
        *ngIf="columnStates.done === 'expanded'">
     <div class="task-list space-y-3"
          #doneTaskList
          cdkDropList
          id="doneList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="['todoList', 'inProgressList']"
          (cdkDropListDropped)="drop($event)">
       <app-task-card
         *ngFor="let task of done"
         [task]="task"
         (delete)="deleteTask($event)"
         (edit)="editTask($event)"
         cdkDrag>
       </app-task-card>
     </div>
   </div>
 </div>
      
    </div>
  </div>
</div>

<!-- Modal Responsivo -->
<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 p-4"
  *ngIf="isAddModalOpen || isEditModalOpen"
>
  <div class="bg-white rounded-lg shadow-lg w-full max-w-lg max-h-[90vh] overflow-y-auto p-4 md:p-6">
    <!-- Modal de Adição de Task -->
    <div *ngIf="isAddModalOpen">
      <h2 class="text-xl font-semibold mb-4">Adicionar Nova Task</h2>
      <form (ngSubmit)="saveTask()">
        <!-- Campos do Formulário para Adicionar Task -->
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Nome da Task</label>
          <input
            type="text"
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="newTask.title"
            name="title"
            required
          />
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Descrição</label>
          <textarea
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="newTask.description"
            name="description"
            rows="3"
          ></textarea>
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Prioridade</label>
          <select
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="newTask.priority"
            name="priority"
            required
          >
            <option value="low">Baixa</option>
            <option value="medium">Média</option>
            <option value="high">Alta</option>
          </select>
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Usuário Vinculado</label>
          <input
            type="text"
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="newTask.assignee"
            name="assignee"
            required
          />
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-1">Insíra as Tags</label>
          <div class="flex flex-col gap-1">
          <input
            type="text"
            class="flex-1 min-w[300px] border border-gray-400 rounded-lg p-2 mt-2"
            [(ngModel)]="tag"
            name="tag"
            placeholder="Insira uma tag e pressione Enter"
            (keydown.enter)="addTag()"
          />
          <button
            type="button"
            class="bg-blue-500 text-white px-2 py-2 rounded-lg mt-2"
            (click)="addTag()"
          >
            Adicionar
          </button>
        </div>
          <!-- Exibição das Tags Adicionadas -->
          <div class="flex flex-wrap mt-2 gap-2">
            <span
              *ngFor="let t of newTask.tags"
              class="flex items-center bg-blue-100 text-blue-800 px-3 py-1 rounded-full"
            >
              {{ t }}
              <button
                type="button"
                class="ml-2 text-sm text-blue-500 hover:text-blue-700 focus:outline-none"
                (click)="removeTag(t)"
              >
                &times;
              </button>
            </span>
          </div>
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Data Limite</label>
          <input
            type="date"
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="newTask.dueDate"
            name="dueDate"
            required
          />
        </div>
        <!-- Ações do Formulário -->
        <div class="flex justify-end space-x-2">
          <button
            type="button"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg"
            (click)="closeAddModal()"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg"
          >
            Salvar
          </button>
        </div>
      </form>
    </div>

    <!-- Modal de Edição de Task -->
    <div *ngIf="isEditModalOpen">
      <h2 class="text-xl font-semibold mb-4">Editar Task</h2>
      <form (ngSubmit)="saveEdit()">
        <!-- Campos do Formulário para Editar Task -->
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Nome da Task</label>
          <input
            type="text"
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="editingTask.title"
            name="title"
            required
          />
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Descrição</label>
          <textarea
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="editingTask.description"
            name="description"
            rows="3"
          ></textarea>
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Prioridade</label>
          <select
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="editingTask.priority"
            name="priority"
            required
          >
            <option value="low">Baixa</option>
            <option value="medium">Média</option>
            <option value="high">Alta</option>
          </select>
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Usuário Vinculado</label>
          <input
            type="text"
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="editingTask.assignee"
            name="assignee"
            required
          />
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Data Limite</label>
          <input
            type="date"
            class="w-full border border-gray-300 rounded-lg p-2"
            [(ngModel)]="editingTask.dueDate"
            name="dueDate"
            required
          />
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 mb-2">Tags</label>
          <div class="flex items-center gap-2">
            <input
              type="text"
              class="flex-1 border border-gray-300 rounded-lg p-2"
              [(ngModel)]="editTag"
              name="editTag"
              placeholder="Insira uma tag e pressione Enter"
              (keydown.enter)="addEditTag()"
            />
            <button
              type="button"
              class="bg-blue-500 text-white px-4 py-2 rounded-lg"
              (click)="addEditTag()"
            >
              Adicionar Tag
            </button>
          </div>
          <!-- Exibição das Tags Adicionadas -->
          <div class="flex flex-wrap mt-2 gap-2">
            <span
              *ngFor="let t of editingTask.tags"
              class="flex items-center bg-blue-100 text-blue-800 px-3 py-1 rounded-full"
            >
              {{ t }}
              <button
                type="button"
                class="ml-2 text-sm text-blue-500 hover:text-blue-700 focus:outline-none"
                (click)="removeEditTag(t)"
              >
                &times;
              </button>
            </span>
          </div>
        </div>
        
        <!-- Ações do Formulário -->
        <div class="flex justify-end space-x-2">
          <button
            type="button"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg"
            (click)="closeEditModal()"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg"
          >
            Salvar Alterações
          </button>
        </div>
      </form>
    </div>
  </div>
</div>